# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;

# Allow init to mount wlan kernel module
allow init { system_file vendor_file }:file mounton;

# Allow init to mount vendor overlay
allow init vendor_overlay_file:dir mounton;

# Allow init to write to sysfs_graphics
allow init sysfs_graphics:file w_file_perms;

allow init debugfs_tracing_debug:dir mounton;
