allow system_app vendor_default_prop:file { getattr open read };
allow system_app vendor_default_prop:file {map};
allow system_app sysfs_kgsl:file r_file_perms;
get_prop(system_app, vendor_camera_prop);

allow system_app sysfs_zram:file { read open getattr };
allow system_app sysfs_zram:dir { search open getattr };
dontaudit system_app apexd:binder call;
dontaudit system_app system_suspend_control_service:service_manager find;
