get_prop(system_app, vendor_camera_prop);
allow system_app vendor_default_prop:file { getattr open read };
allow system_app vendor_default_prop:file {map};
